* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  height: 10%;
  padding: 50px;
  background-color: rgb(121, 17, 17);
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  height: 5%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgb(48, 41, 44);
}

nav a {
  padding: 14px 20px;
  color: rgb(255, 255, 255);
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
}

aside {
  flex: 30px;
  background-color: rgb(150, 51, 51);
  padding: 20px;
}

section {
  flex: 60%;
  background-color: rgb(205, 93, 93);
  padding: 20px;
}

footer {
  display: flex;
  padding: 20px;
  height: 5%;
  align-items: center;
  justify-content: center;
  background-color: rgb(121, 17, 17);
}

.row h2 {
  padding: 14px 20px;
}

@media screen and (max-width: 700px) {
  nav,
  .row {
    flex-direction: column;
    height: fit-content;
  }
}

section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 150px 150px;
  padding-top: 80px;
  padding-bottom: 10px;
}

section div p {
  padding: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.alphabet {
  margin: 10px;
}

section h2 {
  text-align: center;
}

section div .aletter {
  background-color: rgb(254, 0, 0);
  color: rgb(254, 0, 0);
}

td {
  color: red;
  background-color: rgb(255, 255, 255);
  padding: 3px;
}

table {
  padding-top: 100px;
}

tr:first-child td {
  text-align: center;
  padding: 5px;
  color: rgb(147, 0, 0);
}

#letterTitles {
  background-color: white;
  min-height: 220px;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 5px 5px 5px;
}

#timer {
  background-color: white;
  text-align: center;
  font-size: 75px;
  border-radius: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 5px 5px 5px;
}

#inputAnswer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

#sendWord {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

#pasapalabra {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

#startTimer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

td {
  padding: 0 20px;
}

.hidden {
  display: none;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.borderSelect {
  border: 3px solid rgb(255, 255, 255);
}
